DATABASE_URL="postgresql://postgres:password@localhost:5432/mydb"

BETTER_AUTH_SECRET="super-secret-random-string-123456"
BETTER_AUTH_URL="http://localhost:3000"

NEXT_PUBLIC_API_URL="http://localhost:3000"